/* Generic Style */
body {
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Lato', sans-serif;  */
}

/* Typography */
.text-white {
  color: white;
}

h1.title {
  font-size: 44px;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  color: #334d5c;
  font-weight: bold;
}

/* Line Star Symbol */

.line-star {
  height: 50px;
  width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.custom-line-1,
.custom-line-2 {
  height: 2px;
  width: 30%;
  background: white;
  float: left;
  padding-top: 3px;
}

.custom-line-1 {
  position: relative;
  top: 20px;
  left: 8%;
}
.custom-line-2 {
  position: relative;
  top: 20px;
  right: 8%;
}

.custom-star {
  font-size: 32px;
  color: white;
  width: 40%;
  float: left;
}

.custom-star-blue {
  color: #2c3e50;
}

.custom-line-1-blue,
.custom-line-2-blue {
  background-color: #2c3e50;
}

/* HEADER | NAV */
.navbar {
  background-color: #2c3e50;
  color: white;
  border: transparent;
  border-radius: 0;
  margin-bottom: 0;
  padding: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #1abc9c;
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #1abc9c;
}

.navbar .container-fluid a.navbar-brand,
.navbar .navbar-right li a {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* HEADER | JUMBOTRON */

.jumbotron {
  background-color: #1abc9c;
  text-align: center;
}

.jumbotron .row {
  margin-top: 50px;
  padding-top: 100px;
}

/* HEADER | JUMBOTRON | TOP-1 */
.jumbotron .top-1 {
  height: 480px;
}

.jumbotron .top-1 img {
  height: 250px;
  display: inline-block;
}

.skill-list ul li {
  color: white;
  font-size: 20px;
  font-family: "Lato";
}

/* MAIN | SECTION PORTFOLIO */

.portfolio {
  text-align: center;
  background-color: white;
}

.portfolio h2 {
  margin-top: 40px;
}

.portfolio .row .line-star {
  margin-bottom: 40px;
}

.portfolio .row .item-image {
  border-radius: 5%;
  margin-bottom: 30px;
  position: relative;
  max-width: 400px;
  margin: auto auto 30px;
}

.portfolio .row .item-image img {
  border-radius: 5%;
  max-height: 288px;
  max-width: 100%;
}

.item-image .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(26, 188, 156, 0.9);
  border-radius: 5%;
  margin-bottom: 30px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.portfolio .row .item-image:hover .img-overlay {
  opacity: 1;
}

.img-overlay .text-plus {
  color: white;
  font-size: 100px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* MAIN | SECTION ABOUT */

.about.container-fluid {
  background-color: #1abc9c;
  text-align: center;
}

.about .row {
  margin-top: 40px;
  margin-bottom: 40px;
}

.about .row .mission {
  font-size: 16px;
}

/* MAIN | CONTACT ME */
.contact-me .row .title {
  text-align: center;
}

/* FOOTER | INFO */

.info {
  background-color: #2c3e50; /*debug*/
  height: 300px; /*debug*/
}

.info {
  color: white;
  text-align: center;
}

/* FOOTER | CREDITS */

.credits {
  background-color: #1a252f;
  height: 50px; /*debug*/
  text-align: center;
}

/* ! TABLET VERSION */

@media screen and (min-width: 768px) {
  /* HEADER |Nav bar */

  .navbar {
    padding: 24px 16px;
  }
  .navbar .container-fluid a.navbar-brand {
    font-size: 28px;
  }
  .navbar .navbar-right li a {
    font-size: 16px;
  }
}
