/* Generic Style */
body {
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Lato', sans-serif;  */
}

/* Typography */
.text-white {
  color: white;
}

h1.title {
  font-size: 44px;
  color: white;
  font-weight: bold;
}

/* HEADER | NAV */
.navbar {
  background-color: #2c3e50;
  color: white;
  border: transparent;
  border-radius: 0;
  margin-bottom: 0;
  padding: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #1abc9c;
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #1abc9c;
}

.navbar .container-fluid a.navbar-brand,
.navbar .navbar-right li a {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* HEADER | JUMBOTRON */

.jumbotron {
  background-color: #1abc9c;
  text-align: center;
}

.jumbotron .row {
  margin-top: 50px;
  padding-top: 100px;
}

.jumbotron .top-2 {
  margin-top: 50px;
}

.jumbotron .top-3,
.jumbotron .top-4 {
  margin-top: 25px;
}

/* HEADER | JUMBOTRON | TOP-1 */
.jumbotron .top-1 {
  height: 250px;
}

.jumbotron .top-1 img {
  height: 250px;
  display: inline-block;
}

/* HEADER | JUMBOTRON | TOP-3 */

.top-3 {
  background: red;
}

.custom-line-1,
.custom-line-2 {
  height: 6px;
  width: 29%;
  background: white;
  float: left;
  padding-top: 3px;
}

.custom-line-1 {
  position: relative;
  top: 20px;
  left: 30px;
  margin-right: 2%;
  margin-left: 2%;
}
.custom-line-2 {
  position: relative;
  top: 20px;
  right: 30px;
  margin-left: 2%;
  margin-right: 2%;
}

.custom-star {
  font-size: 32px;
  color: white;
  width: 33.333%;
  float: left;
}

/* MAIN | SECTION PORTFOLIO */

.portfolio {
  text-align: center;
  background-color: hsl(201, 14%, 49%); /*debug*/
}

.portfolio .row :not(:first-child) {
  height: 150px; /*debug*/
  background-color: hsl(202, 30%, 39%);
  border: 1px solid black;
  margin-bottom: 40px;
}

/* MAIN | SECTION ABOUT */

.about.container-fluid {
  background-color: #1abc9c;
  text-align: center;
}

.about .row {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* MAIN | CONTACT ME */
.contact-me .row .title {
  text-align: center;
}

/* FOOTER | INFO */

.info {
  background-color: #2c3e50; /*debug*/
  height: 300px; /*debug*/
}

.info {
  color: white;
  text-align: center;
}

/* FOOTER | CREDITS */

.credits {
  background-color: #1a252f;
  height: 50px; /*debug*/
  text-align: center;
}

/* ! TABLET VERSION */

@media screen and (min-width: 768px) {
  /* HEADER |Nav bar */

  .navbar {
    padding: 24px 16px;
  }
  .navbar .container-fluid a.navbar-brand {
    font-size: 28px;
  }
  .navbar .navbar-right li a {
    font-size: 16px;
  }
}
